.container{
  width: 20rem;
  margin: 10px auto;
  padding: 1.2rem;
  text-align: center;
  background-color: rgb(177, 203, 236);
}


.counter{
  font-size: 3rem;
  margin-bottom: 3px 6px;
}

.btn{
  width: 6rem;
  border: 3px solid rgb(109, 43, 175); 
  background-color: rgb(140, 90, 187);
  color: #fff;
  cursor: pointer;
}